{
  "author": "$og_author",
  "name": "$name",
  "$::theme": "dark",
  "$::color": {
  	"apple": "#F00"
  },
  "$::deletions": {
		"keys": [
			"themes/0/style/accents"
		]
  },
  "settings": [
  	{
   		"$::mode": "strict",
     	"name": "equals|beginswith",
      	"scope": "exact|inner::exact|mismatch"
  	},
    {
      "settings": {
        "background": "$ui.settings.bg",
        "caret": "$player.cursor",
        "foreground": "$ui.text.active",
        "invisibles": "$editor.invisible",
        "lineHighlight": "$editor.active.line",
        "selection": "$player.highlight"
      }
    },
    {
      "name": "Source base",
      "settings": {
        "foreground": "$ui.text.inactive",
        "background": "$ui.bg"
      }
    },
    {
      "name": "Text base",
      "settings": {
        "background": "$editor.bg",
        "foreground": "$editor.text"
      }
    },
    {
      "name": "Comment",
      "settings": {
        "foreground": "$syntax.comment.fg",
        "fontStyle": "$syntax.comment.style",
        "background": "$syntax.comment.bg"
      }
    },
    {
      "name": "Constant",
      "settings": {
        "foreground": "$syntax.constant.fg",
        "fontStyle": "$syntax.constant.style",
        "background": "$syntax.constant.bg"
      }
    },
    {
      "name": "Constant (built-in)",
      "scope": "constant.language",
      "settings": {
        "fontStyle": "$syntax.constant.builtin.style",
        "foreground": "$syntax.constant.builtin.fg",
        "background": "$syntax.constant.builtin.bg"
      }
    },
    {
      "name": "Keyword",
      "settings": {
        "foreground": "$syntax.keyword.fg",
        "fontStyle": "$syntax.keyword.style",
        "background": "$syntax.keyword.bg"
      }
    },
    {
      "name": "Number",
      "settings": {
        "fontStyle": "$syntax.number.style",
        "foreground": "$syntax.number.fg",
        "background": "$syntax.number.bg"
      }
    },
    {
      "name": "Pre-processor Directive",
      "settings": {
        "fontStyle": "$syntax.keyword.import.style",
	    	"foreground": "$syntax.keyword.import.fg",
        "background": "$syntax.keyword.import.bg"
      }
    },
    {
      "name": "Function name",
      "settings": {
        "fontStyle": "$syntax.func.style",
        "foreground": "$syntax.func.fg",
        "background": "$syntax.func.bg"
      }
    },
    {
	    "name": "Function (definition)",
	    "settings": {
	      "fontStyle": "$syntax.func.def.style",
	      "foreground": "$syntax.func.def.fg",
	      "background": "$syntax.func.def.bg"
	    }
    },
    {
    	"name": "Function",
     	"scope": "entity.name.function",
	    "settings": {
		      "fontStyle": "$syntax.a.func.def.style",
		      "foreground": "$syntax.a.func.def.fg",
		      "background": "$syntax.a.func.def.bg"
		}
    },
    {
      "name": "Function argument",
      "settings": {
        "fontStyle": "$syntax.param.style",
        "foreground": "$syntax.param.fg",
        "background": "$syntax.param.bg"
      }
    },
    {
      "name": "Block comment",
      "settings": {
        "background": "$syntax.comment.doc.bg",
        "foreground": "$syntax.comment.doc.fg",
        "fontStyle": "$syntax.comment.doc.style"
      }
    },
    {
      "name": "String",
      "settings": {
        "foreground": "$syntax.string.fg",
        "fontStyle": "$syntax.string.style",
        "background": "$syntax.string.bg"
      }
    },
    {
      "name": "String escapes",
      "settings": {
        "foreground": "$syntax.string.escape.fg",
        "fontStyle": "$syntax.string.escape.style",
        "background": "$syntax.string.escape.bg"
      }
    },
    {
      "name": "String (executed)",
      "settings": {
        "background": "$syntax.string.inter.bg",
        "foreground": "$syntax.string.inter.fg",
        "fontStyle": "$syntax.string.inter.style"
      }
    },
    {
      "name": "String interpolation",
      "settings": {
        "background": "$syntax.string.inter.bg",
        "foreground": "$syntax.string.inter.fg",
        "fontStyle": "$syntax.string.inter.style"
      }
    },
    {
      "name": "Regular expression",
      "settings": {
        "foreground": "$syntax.string.regex.fg",
        "fontStyle": "$syntax.string.regex.style",
        "background": "$syntax.string.regex.bg"
      }
    },
    {
      "name": "String (literal)",
      "settings": {
        "foreground": "$syntax.string.special.fg",
        "fontStyle": "$syntax.string.special.style",
        "background": "$syntax.string.special.bg"
      }
    },
    {
      "name": "Type name",
      "settings": {
        "fontStyle": "$syntax.type.style",
        "foreground": "$syntax.type.fg",
        "background": "$syntax.type.bg"
      }
    },
    {
      "name": "Class inheritance",
      "settings": {
        "fontStyle": "italic underline"
      }
    },
    {
      "name": "Tag name",
      "settings": {
        "fontStyle": "$syntax.z.html_tag.style",
        "foreground": "$syntax.z.html_tag.fg",
        "background": "$syntax.z.html_tag.bg"
      }
    },
    {
      "name": "Tag attribute",
      "settings": {
        "fontStyle": "$syntax.z.html_attribute.style",
        "foreground": "$syntax.z.html_attribute.fg",
        "background": "$syntax.z.html_attribute.bg"
      }
    },
    {
      "name": "Support function",
      "settings": {
        "fontStyle": "$syntax.func.builtin.style",
        "foreground": "$syntax.func.builtin.fg",
        "background": "$syntax.func.builtin.bg"
      }
    },
    {
      "name": "Variable",
      "settings": {
        "fontStyle": "$syntax.var.style",
        "foreground": "$syntax.var.fg",
        "background": "$syntax.var.bg"
      }
    },
    {
      "name": "Library function",
      "scope": "support.function",
      "settings": {
        "fontStyle": "$syntax.func.builtin.style",
        "foreground": "$syntax.func.builtin.fg",
        "background": "$syntax.func.builtin.bg"
      }
    },
    {
      "name": "Library type",
      "scope": "support.type",
      "settings": {
				"fontStyle": "$syntax.type.builtin.style",
				"foreground": "$syntax.type.builtin.fg",
				"background": "$syntax.type.builtin.bg"
			}
    },
    {
     "name": "Library constant",
     "scope": "support.constant",
     "settings": {
			 "fontStyle": "$syntax.constant.builtin.style",
			 "foreground": "$syntax.constant.builtin.fg",
			 "background": "$syntax.constant.builtin.bg"
		 }
		},
		{
      "name": "Markup tag",
      "scope": [
        "meta.tag",
        "declaration.tag",
        "entity.name.tag"
      ],
      "settings": {
        "fontStyle": "$syntax.z.html_tag.style",
        "foreground": "$syntax.z.html_tag.fg",
        "background": "$syntax.z.html_tag.bg"
      }
    },
    {
      "name": "Markup tag attribute",
      "scope": "entity.other.attribute-name",
      "settings": {
				"fontStyle": "$syntax.z.html_attribute.style",
				"foreground": "$syntax.z.html_attribute.fg",
				"background": "$syntax.z.html_attribute.bg"
			}
		},
		{
      "name": "Invalid",
      "scope": "invalid",
      "settings": {
        "background": "$code.error.bg",
        "foreground": "$code.error.fg"
      }
    },
    {
      "name": "Diff Add",
      "scope": "markup.inserted",
      "settings": {
        "background": "$file.created.bg",
        "foreground": "$file.created.fg"
      }
    },
    {
      "name": "Diff Remove",
      "scope": "markup.deleted",
      "settings": {
        "background": "$file.deleted.bg",
        "foreground": "$file.deleted.fg"
      }
    },
    {
      "name": "Diff Header",
      "scope": [
        "meta.diff.header",
        "meta.separator.diff",
        "meta.diff.index",
        "meta.diff.range"
      ],
      "settings": {
        "background": "$ui.header"
      }
    }
  ]
}
